ActivityStatusCheck/Service References/BusinessService/BusinessService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24216/BusinessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Zurich.Echassis.BusinessService.Contracts" />
  <xs:element name="ManageCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Zurich.Echassis.BusinessService.Contracts" minOccurs="0" name="caseDataContract" nillable="true" type="q1:CaseDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Zurich.Echassis.BusinessService.Contracts" minOccurs="0" name="ManageCaseResult" nillable="true" type="q2:CaseResponseDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Zurich.Echassis.BusinessService.Contracts" minOccurs="0" name="quoteDataContract" nillable="true" type="q3:QuoteDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Zurich.Echassis.BusinessService.Contracts" minOccurs="0" name="ManageQuoteResult" nillable="true" type="q4:QuoteResponseDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageRecommendation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Zurich.Echassis.BusinessService.Contracts" minOccurs="0" name="recomDataContract" nillable="true" type="q5:RecommendationDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageRecommendationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Zurich.Echassis.BusinessService.Contracts" minOccurs="0" name="ManageRecommendationResult" nillable="true" type="q6:RecommendationResponseDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageZPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Zurich.Echassis.BusinessService.Contracts" minOccurs="0" name="zplanDataContract" nillable="true" type="q7:ZPlanDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageZPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Zurich.Echassis.BusinessService.Contracts" minOccurs="0" name="ManageZPlanResult" nillable="true" type="q8:ZPlanResponseDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchDataContract" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchCaseResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Zurich.Echassis.BusinessService.Contracts" minOccurs="0" name="ex" nillable="true" type="q9:ExceptionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityLastRecord">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityLastRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActivityLastRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProceedtoEsign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caseID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProceedtoEsignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProceedtoEsignResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>